<%= form_for(@manufactor) do |f| %>
  <% if @manufactor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manufactor.errors.count, "error") %> prohibited this manufactor from being saved:</h2>

      <ul>
      <% @manufactor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manufactor %><br>
    <%= f.text_field :manufactor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
