<h1>Listing Manufactors</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Manufactor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @manufactors.each do |manufactor| %>
      <tr>
        <td><%= manufactor.manufactor %></td>
        <td><%= link_to 'Show', manufactor ,:class=>"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_manufactor_path(manufactor),:class=>"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', manufactor,:class=>"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manufactor', new_manufactor_path,:class=>"btn btn-success" %>
