<h1>Listing cars</h1>

<table>
  <thead>
    <tr>
      <th>Marque</th>
      <th>Model</th>
      <th>Milage</th>
      <th>MOT</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.marke %></td>
        <td><%= car.modell %></td>
        <td><%= car.kilometerstand %></td>
        <td><%= car.tüv %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New car', new_car_path %>
