<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=f.label :manufactor %><br>
     <%= f.select :manufactor_id,
     Manufactor.all.map { |d| [d.manufactor,d.id]},
     prompt: "Please select" %>
  </div>

  <div class="field">
    <%= f.label :marque %><br>
    <%= f.text_field :marque %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :milage %><br>
    <%= f.number_field :milage %>
  </div>
  <div class="field">
    <%= f.label :MOT %><br>
    <%= f.check_box :MOT %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
