<h1> <%= image_tag("mcqueen.jpg",:size => "100x64") %>Listing Cars</h1>
<ul class="nav nav-pills">
  <li class="active"><a href="cars">Cars</a></li>
  <li><a href="manufactors">Manufactors</a></li>
</ul>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Manufactor</th>
      <th>Marque</th>
      <th>Model</th>
      <th>Milage</th>
      <th>MOT</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @cars.each do |car| %>


      <tr>
        <td><%= car.manufactor %></td>
        <td><%= car.marque %></td>
        <td><%= car.model %></td>
        <td><%= car.milage %></td>
        <td><%= car.MOT %></td>
        <td><%= link_to 'Show', car,:class=>"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_car_path(car),:class=>"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', car,:class=>"btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <%end%>
  </tbody>
</table>

<br>

<%= link_to 'New car', new_car_path,:class=>"btn btn-primary" %>
