<p id="notice"><%= notice %></p>
<h1> Show My Car </h2>
<p>
  <strong>Manufactor:</strong>
  <%= @car.manufactor_id %>
</p>

<p>
  <strong>Marque:</strong>
  <%= @car.marque %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Milage:</strong>
  <%= @car.milage %>
</p>

<p>
  <strong>MOT:</strong>
  <%= @car.MOT %>
</p>

<%= link_to 'Edit', edit_car_path(@car),:class=>"btn-sm btn-primary" %> |
<%= link_to 'Back', cars_path,:class=>"btn-sm btn-primary"  %>
